@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
/*
======================
Reset
======================
*/
:root {
  --primaryColor: #f1f1f1;
  --black: #222;
  --orange: #eb0028;
  --white: #fff;
  --grey: #959595;
  --grey2: #666;
  --secondaryColor: #2b1f4d;
  --yellow: #ffcc00;
  --blue: #02182b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #e8e8e8;
}

body,
input {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  color: var(--black);
}

a {
  text-decoration: none;
  color: #070707;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h3,
h4 {
  font-weight: 500;
}

/* !====================================================== HEADER */
/* CSS reset */
* {
  margin: 0;
  box-sizing: border-box;
}

header{
  position: fixed;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* 
? ----------------------------------------- Thông tin liên hệ
*/

/* Thay đổi màu nền của #wrapper thành màu xám */
#wrapper {
  background-color: transparent;
  display: flex; /* Sử dụng Flexbox */
  justify-content: center; /* Canh giữa theo chiều ngang */
  align-items: center; /* Canh giữa theo chiều dọc */
}


/* Định dạng văn bản của #nav để làm nổi bật */
#nav {
  font-weight: bold;
  padding: 0 30px;
  color: #fff;
}

/* Định dạng các phần tử danh sách li bên trong #nav */
#nav li {
  display: inline-block;
  margin-right: 10px;
}

/* Định dạng mũi tên envelope của li.mail bằng font-awesome */
li.mail i.fa {
  color: blue;
}

/* Định dạng số điện thoại của li.phone */
li.phone {
  color: green;
  margin-left: 100px;
}

/* Định dạng ô tìm kiếm của li.search */
li.search-box input[type="text"].search-input {
  width: 150px;
  border-radius: 3px;
  border: none;
  padding: 5px;
  margin-left: 100px;
}

/* Định dạng nút tìm kiếm của li.search */
li.search-box i.fa {
  color: rgb(7, 7, 7);
  cursor: pointer;
}

.wr {
  display: flex; /* Sử dụng Flexbox */
  justify-content: center; /* Canh giữa theo chiều ngang */
  align-items: center; /* Canh giữa theo chiều dọc */
}

.search-box {
  position: relative;
  display: inline-block;
}

.search-input {
  padding: 10px;
  border: 1px solid #070707;
  border-radius: 5px;
}

.fa-search {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #666;
  font-size: 18px;
}

/* Hover effect */
.fa-search:hover {
  cursor: pointer;
  color: #333;
}

/* 
?       ==================================
todo    nav-bar
?       ==================================
*/

#nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: transparent;
  height: 65px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.list-item:not(:last-child) {
  text-transform: uppercase;
  position: relative;
  padding: 10px 20px;
  border-radius: 20px;
}

.list-item a {
  color: white;
}

.list-item:not(:last-child):hover {
  background-color: brown;
}

.list-item:hover .expand {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.expand {
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s linear;
  z-index: 10;
}

.expand a {
  padding: 10px 20px;
  color: #333;
}

.expand a:hover {
  background-color: #ccc;
}

.expand a:first-child:hover {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.expand a:last-child:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.list-item.login {
  margin-left: 10px;
}

.list-item.login button {
  padding: 10px 50px;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  color: white;
}

.list-item.login button i::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 4px;
  background-color: #101e4f;
  top: -3px;
  left: 80%;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.list-item.login button:hover {
  font-weight: bold;
  letter-spacing: 3px;
  border-color: #1e9cff;
}

.list-item.login button:hover i::before {
  width: 20px;
  left: 20%;
}

.list-item.login button i::after {
  content: '';
  position: absolute;
  width: 17px;
  height: 4px;
  background-color: #101e4f;
  bottom: -3px;
  left: 20%;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.list-item.login button:hover i::after {
  width: 20px;
  left: 80%;
}

/* ! Login page */

.login__page--background {
  background: url(/image/login/background.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* *CSS Login page */
.header__login {
  width: 45%;
  height: 55rem;
  background: transparent;
  border-radius: 10px;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px 5px 2px rgba(242, 239, 239, 0.4);
  overflow: hidden;
  backdrop-filter: blur(10px);
  margin-top: 5rem;
  padding-bottom: 50px;
  animation: scaleLogin 0.5s ease;
  font-family: var(--font-archivo);
  z-index: 0;
}

@keyframes scaleLogin {
  from {
    opacity: 0;
    transform: scaleY(0);
  }

  to {
    opacity: 1;
    transform: scaleY(1.1);
  }
}

.header__login .login__section {
  width: calc(100% - 58%);
  height: 100%;
  color: white;
}

.login__section .login__form--box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.login__section .login__form--box h2 {
  text-align: center;
  font-size: 2.5rem;
}

.login__form--box .login__input--box {
  width: 500px;
  height: 60px;
  border-bottom: 2px solid #fff;
  margin: 10px 0;
  position: relative;
  margin-bottom: 20px;
}

.login__input--box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding-right: 28px;
  color: #fff;
  padding-top: 30px;
}

.login__input--box label {
  position: absolute;
  top: 70%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.6rem;
  font-weight: 600;
  pointer-events: none;
  transition: 0.5s ease;
}

.login__input--box .icon {
  position: absolute;
  top: 30px;
  right: 0;
  font-size: 1.5rem;
}

.login__input--box .icon_eye {
  position: absolute;
  top: 30px;
  right: 0;
  font-size: 1.5rem;
}

.login__input--box input:focus ~ label,
.login__input--box input:valid ~ label {
  top: -1px;
}

.login__remember--pass {
  font-size: 1.6rem;
  font-weight: 500;
  margin: -5px 0 20px;
  display: flex;
  justify-content: space-between;
}

.login__remember--pass label input {
  accent-color: #fff;
  margin-right: 3px;
}

.login__remember--pass a {
  color: #fff;
  text-decoration: none;
}

.login__remember--pass a:hover {
  text-decoration: underline;
}

.btn {
  background: #fff;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: #f72d7a;
  font-size: 2rem;
  color: #fff;
  box-shadow: 0 1px 0 rgba(252, 251, 251, 0.4);
}

.login__create--account {
  font-size: 1.6rem;
  text-align: center;
  margin: 25px;
}

.login__create--account p a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.login__create--account p a:hover {
  text-decoration: underline;
}

/* !CSS Register form */
.login__section .login__form--box.register {
  transform: translateX(800px);
  transition: transform 0.6s ease;
  transition-delay: 0s;
}

.login__section.active .login__form--box.register {
  transform: translateX(0);
  transition-delay: 0.7s;
}

/* ! Css Login form animate */
.login__section .login__form--box.login {
  transform: translateX(0);
  transition: transform 0.6s ease;
  transition-delay: 0.7s;
}

.login__section.active .login__form--box.login {
  transform: translateX(800px);
  transition-delay: 0s;
}

/* 
    =====================
    POPUP EVENT
    =====================
*/

.container_popup {
  width: 100%;
  height: 100vh;
  /* background: #3c5077; */
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.popup {
  width: 400px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
}

/* ? ----- Function ------------ */
.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 30px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* !
!   ========================
!   RESPONSIVE LOGIN PAGE
!   ========================
! */

@media (min-width: 992px) and (max-width: 1200px) {
  .header__login {
    height: 50rem;
  }

  .login__form--box .login__input--box {
    width: 400px;
    height: 60px;
  }

  .login__input--box .icon {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 1.5rem;
  }

  .login__input--box .icon_eye {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .header__login {
    width: 70%;
    height: 46rem;
  }

  .login__form--box .login__input--box {
    width: 380px;
    height: 60px;
  }

  .login__input--box .icon {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 1.5rem;
  }

  .login__input--box .icon_eye {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .header__login {
    width: 70%;
    height: 45rem;
  }

  .login__form--box .login__input--box {
    width: 320px;
    height: 60px;
  }

  .login__input--box .icon {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 1.5rem;
  }

  .login__input--box .icon_eye {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 1.5rem;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .header__login {
    width: 95%;
    height: 45rem;
  }

  .login__form--box .login__input--box {
    width: 95%;
    height: 60px;
  }

  .login__input--box .icon {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 1.5rem;
  }

  .login__input--box .icon_eye {
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 1.5rem;
  }
}
